<!DOCTYPE html>
<html>
  <body style="font-family: Arial">
    <img src="cid:roadmaplogo" width="70" style="border-radius: 8px" />

    <h2>Hello {{ username }} 👋</h2>

    <p>Your payment screenshot has been successfully submitted!</p>

    <p>
      Our team will verify it shortly and upgrade your account to
      <b>Premium</b>.
    </p>

    <p>We will notify you once it is approved.</p>

    <p style="margin-top: 25px; font-size: 13px; color: #777">
      Thank you for supporting Roadmap AI.
    </p>
  </body>
</html>
